.Card {
  background-color: whitesmoke;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.67);
  font-size: 12px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 25px;
}

.Card-grey {
  background-color: lightgrey;
  color: rgb(0, 0, 0);
}

.Card-blue {
  background-color: #1850A5;
  color: white;
}


.Card-title {
  display: flex !important;
  justify-content: space-between !important;
  font-weight: bold;
}
