.Swimlane-title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color:whitesmoke;
  text-align: center;
}

.Swimlane-dragColumn {
  height: calc(100vh - 100px);
  overflow-y: auto;
  /* background-color: #f5f5f5; */
}
