.selected-song-controls {
  position: fixed;
  width: 85%;
  bottom: 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(87, 159, 218)  !important;
  font-weight: 800;
}

.flex-component {
  display: flex;
  justify-content: space-between;
}

.head {
  font-size: 25px;
}

.buttons i {
  margin-left: 20px !important;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

 
.buttons {
  display: flex;
  align-items: center;
  color: rgb(15, 200, 233);
}
.buttons :hover  {
  transform: translateY(-5px);
  color: rgb(47, 255, 193);

}

.buttons :active {
  transform: translateY(0);
}