.header-container {
    color: #1850A5 !important;
    font-weight: 700;
    background: inherit;
}

.header-logo {
    color: #1850A5 !important;
    font-weight: 700;
    font-size: 2rem !important;
}

.header-link {
    color: #1850A5 !important;
    font-weight: 700;
    font-size: 1.5rem;
}

.doRightApp {
    margin-left: auto;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 288px;
    width: 90%;
}

.header-color {
    background: whitesmoke;
    border-bottom: 1.5px solid #1850A5;
}